:root {
    --primaryColour: #1d1d1d;
    --secondaryColour: #f5df4d;
    --additionalColour: #a545f5;
    --backgroundColour: #eeeeee;
}

a {
    text-decoration: none;
    color: var(--primaryColour);
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.telegram_icon {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#search {
    &::after{
        content: url("../assets/button\'s_frame.svg");
        position: absolute;
        text-align: center;
        margin-left: -8.5rem;
        margin-top: -1.75rem;
    }
}

#more {
    &::after{
        display: block;
        content: url("../assets/button\'s_frame_mope.svg");
        position: absolute;
        text-align: center;
        margin-left: -2.75rem;
        margin-top: -3.9rem;
    }
}

.navbar {
    background-color: var(--backgroundColour);
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;

    .sign {
        margin-left: 1em;
    }

    .logo {
        display: none;
    }

    .menu {
        margin-right: 1rem;
        cursor: pointer;
    }
}

nav {
    display: none;
    position: fixed;
    color: var(--backgroundColour);
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 3;
    background: var(--additionalColour);
    padding: 1rem;

    .upper_nav li:hover{
        font-weight: bold;
    }

    a {
        color: var(--backgroundColour);
    }

    ul {
        margin-top: 10rem;
        

        li{
            list-style: none;
            text-transform: uppercase;
            margin: 3rem;
            text-align: center;
            letter-spacing: .25rem;
        }
    }

    .lower_nav {
        margin-top: 5rem;
    }
}

h2 {
    color: var(--primaryColour);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    text-align: center;
    margin: 5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 5%;
}

.btn-search {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    line-height: 1rem;
    background-color: var(--secondaryColour);
    border: none;
    margin-top: 5rem;
    padding: 20px 30px;

    &:hover{
        background-color: var(--additionalColour);
        color: var(--backgroundColour);
    }
}

.hero {
    background-color: var(--backgroundColour);
    padding-bottom: 6rem;
    text-align: center;
    align-items: center;

    .right-column {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: .25rem;
        text-align: center;
        background-color: var(--backgroundColour);
        padding: 7.5rem .75rem 4rem .75rem;

        a {
            font-size: 1.5rem;
            font-weight: normal;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .left-column {
        display: none;
    }

    .search-field {
        button:first-child {
            border-bottom: none;
        }

        button:last-child {
            border-top: none;
        }

        button {
            display: block;
            font-size: 1rem;
            color: #939597;
            border: 1px solid #939597;
            background-color: #fff;
            width: 250px;
            height: 50px;
            margin: 0 auto;
        }
    }
}

.apartments {
    text-align: center;
    align-items: center;
    
    .first_card {
        display: inline;

        .apt366 {
            width: 75%;
            margin-left: 0;
        }

        .apt590 {
            margin-top: -1.5rem;
            width: 70%;
            margin-left: 25%;
        }

        .black_lines {
            position: absolute;
            width: 15%;
            margin-left: -35%;
            margin-top: -10%;
        }
    }

    .purple_lines {
        margin-top: 4rem;
        margin-left: 1rem;
        margin-bottom: 4rem;
        width: 40%;
    }

    .second_card {
        display: block;

        .apt69 {
            width: 65%;
            float: right;
        }

        .apt106 {
            width: 70%;
            margin-top: -1.5rem;
            margin-left: 10%;
        }

        .purple_lines_2 {
            position: absolute;
            width: 15%;
            margin-left: -20%;
            margin-top: -12%;
        }
    }

}

.about {
    p{
        font-size: 1rem;
        margin-left: 5%;
    }
    .h2 {
        margin-bottom: 5rem;
    }
    
    .third_card {
        display: inline-block;
    }
    .sea {
        margin-left: 5%;
        opacity: 0.8;
        width: 50%;
    }

    .sea_up_down {
        opacity: 0.75;
        width: 55%;
        transform: scaleY(-1);
        margin-top: -75%;
        margin-left: 40%;
        margin-right: 5%;
    }

    .sea_effect {
        position: absolute;
        width: 20%;
        margin-top: -37%;
        margin-left: -57%;
    }

    .sky_effect {
        position: absolute;
        width: 20%;
        margin-top: -65%;
        margin-left: -85%;
    }

    .sea_effect_1 {
        position: absolute;
        width: 20%;
        margin-left: -35%;
        margin-top: -10%;
    }

    .about_text {
        margin-top: 5rem;
        text-transform: uppercase;
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .links {
        margin-top: 7.5rem;
        margin-bottom: 7.5rem;

        p{
            margin: 2rem;
        }
    }
}

footer {
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
    text-transform: lowercase;
    color: #939597;
    background-color: var(--backgroundColour);
    font-size: .6rem;
    letter-spacing: .15rem;

    a {
        color: inherit;
    }
}

#mobile-exit {
    cursor: pointer;
    z-index: 9999;
    float: right;
    margin: .5rem;
}