:root {
  --primaryColour: #1d1d1d;
  --secondaryColour: #f5df4d;
  --additionalColour: #a545f5;
  --backgroundColour: #eeeeee;
}

a {
  text-decoration: none;
  color: var(--primaryColour);
}

html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.telegram_icon {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#search::after {
  content: url("../assets/button's_frame.svg");
  position: absolute;
  text-align: center;
  margin-left: -8.5rem;
  margin-top: -1.75rem;
}

#more::after {
  display: block;
  content: url("../assets/button's_frame_mope.svg");
  position: absolute;
  text-align: center;
  margin-left: -2.75rem;
  margin-top: -3.9rem;
}

.navbar {
  background-color: var(--backgroundColour);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.5em;
}

.navbar .sign {
  margin-left: 1em;
}

.navbar .logo {
  display: none;
}

.navbar .menu {
  margin-right: 1rem;
  cursor: pointer;
}

nav {
  display: none;
  position: fixed;
  color: var(--backgroundColour);
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 3;
  background: var(--additionalColour);
  padding: 1rem;
}

nav .upper_nav li:hover {
  font-weight: bold;
}

nav a {
  color: var(--backgroundColour);
}

nav ul {
  margin-top: 10rem;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
  margin: 3rem;
  text-align: center;
  letter-spacing: .25rem;
}

nav .lower_nav {
  margin-top: 5rem;
}

h2 {
  color: var(--primaryColour);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  text-align: center;
  margin: 5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 5%;
}

.btn-search {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  line-height: 1rem;
  background-color: var(--secondaryColour);
  border: none;
  margin-top: 5rem;
  padding: 20px 30px;
}

.btn-search:hover {
  background-color: var(--additionalColour);
  color: var(--backgroundColour);
}

.hero {
  background-color: var(--backgroundColour);
  padding-bottom: 6rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .right-column {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .25rem;
  text-align: center;
  background-color: var(--backgroundColour);
  padding: 7.5rem .75rem 4rem .75rem;
}

.hero .right-column a {
  font-size: 1.5rem;
  font-weight: normal;
}

.hero .right-column img {
  display: block;
  margin: 0 auto;
}

.hero .left-column {
  display: none;
}

.hero .search-field button:first-child {
  border-bottom: none;
}

.hero .search-field button:last-child {
  border-top: none;
}

.hero .search-field button {
  display: block;
  font-size: 1rem;
  color: #939597;
  border: 1px solid #939597;
  background-color: #fff;
  width: 250px;
  height: 50px;
  margin: 0 auto;
}

.apartments {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apartments .first_card {
  display: inline;
}

.apartments .first_card .apt366 {
  width: 75%;
  margin-left: 0;
}

.apartments .first_card .apt590 {
  margin-top: -1.5rem;
  width: 70%;
  margin-left: 25%;
}

.apartments .first_card .black_lines {
  position: absolute;
  width: 15%;
  margin-left: -35%;
  margin-top: -10%;
}

.apartments .purple_lines {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-bottom: 4rem;
  width: 40%;
}

.apartments .second_card {
  display: block;
}

.apartments .second_card .apt69 {
  width: 65%;
  float: right;
}

.apartments .second_card .apt106 {
  width: 70%;
  margin-top: -1.5rem;
  margin-left: 10%;
}

.apartments .second_card .purple_lines_2 {
  position: absolute;
  width: 15%;
  margin-left: -20%;
  margin-top: -12%;
}

.about p {
  font-size: 1rem;
  margin-left: 5%;
}

.about .h2 {
  margin-bottom: 5rem;
}

.about .third_card {
  display: inline-block;
}

.about .sea {
  margin-left: 5%;
  opacity: 0.8;
  width: 50%;
}

.about .sea_up_down {
  opacity: 0.75;
  width: 55%;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  margin-top: -75%;
  margin-left: 40%;
  margin-right: 5%;
}

.about .sea_effect {
  position: absolute;
  width: 20%;
  margin-top: -37%;
  margin-left: -57%;
}

.about .sky_effect {
  position: absolute;
  width: 20%;
  margin-top: -65%;
  margin-left: -85%;
}

.about .sea_effect_1 {
  position: absolute;
  width: 20%;
  margin-left: -35%;
  margin-top: -10%;
}

.about .about_text {
  margin-top: 5rem;
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.5rem;
  font-size: 1rem;
}

.about .links {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.about .links p {
  margin: 2rem;
}

footer {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  text-transform: lowercase;
  color: #939597;
  background-color: var(--backgroundColour);
  font-size: .6rem;
  letter-spacing: .15rem;
}

footer a {
  color: inherit;
}

#mobile-exit {
  cursor: pointer;
  z-index: 9999;
  float: right;
  margin: .5rem;
}

.nav.menu-btn {
  display: block;
}
/*# sourceMappingURL=main.css.map */